@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.map-page {
    @include mobile-background;
    padding: 1rem;

    @include desktop {
        display: flex;
        justify-content: space-between;
        &__header-mobile {
            display: none;
        }

        &__nav-mobile {
            display: none;
        }
    }
}