@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.filter {
    margin: 0.5rem 1rem 1.5rem 1rem;

    &__container {
        padding: 0.5rem;
        @include content-box-styling;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            margin: 0 auto;
            width: 100%;
        }
    }

    &__subheading {
        padding: 0 0.5rem 0.5rem;
        @include mp1;
    }

    &__tag {
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
        border-radius: 0.25rem;
        width: 100%;
        max-width: 28rem;
        height: fit-content;
        // background-color: $basic-black;
        appearance: none;
        background: {
            image: url("../../assets/icons/arrow_drop_down_24dp_FILL0_wght400_GRAD0_opsz24.svg");
            repeat: no-repeat;
            position: right 0.5rem center;
        }
        @include mp1;
        // color: $basic-white;
        text-wrap: wrap;


        &:focus {
            border: 1px solid $basic-black;
            outline: none;
        }
    }
}
