@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.list {
    @include mobile-background;
    height: 90rem;

    @include desktop {
        @include desktop-background;
        height: 80rem;
    }

    &__main {
        display: flex;
        flex-direction: column;

        @include desktop {
            margin: 0 auto;
            padding-top: 3.5rem;
            max-width: 78rem;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__sidebar {

        @include desktop {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--padded {
            padding: 1rem;

            @include desktop {
                padding: 0;
            }
        }

        &--hide {
            display: none;

            @include desktop {
                display: flex;
            }
        }
    }

    &__resources {
        padding: 0 1rem 1rem 1rem;

        @include desktop {
            padding: 0 13.5rem;
            // display: none;
            // padding-left: 2rem;
            // width: 50%;
        }

        &--hide {
            display: none;
            @include desktop {
                display: flex;
                padding-left: 2rem;
                width: 75%;
            }
        }
    }

    &__home-nav {

        @include desktop {
            margin-top: 6.25rem;
        }
    }
}