@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.list {
    @include mobile-background;
    height: fit-content;
    min-height: 34rem;

    @include desktop {
        @include desktop-background;
        height: fit-content;
    }

    &__main {
        display: flex;
        flex-direction: column;

        @include desktop {
            margin: 0 auto;
            padding-top: 3.5rem;
            max-width: 78rem;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__sidebar {

        @include desktop {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--padded {
            padding: 1rem;

            @include desktop {
                padding: 0;
            }
        }

        &--hide {

            @include desktop {
                display: none;
            }
        }
    }

    &__resources {
        padding: 0 1rem 1rem 1rem;
    }

    &__content {

        @include desktop {
            margin: 0 auto;
            width: 50%;
        }
    }

    &__home-nav {
        display: none;

        @include desktop {
            margin-top: 11.25rem;
            display: flex;
        }
    }
}

.filter {
    margin: 0.5rem 1rem 1.5rem 1rem;

    &__container {
        padding: 0.5rem;
        @include content-box-styling;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop {
            margin: 0 auto;
            width: 100%;
        }
    }

    &__subheading {
        padding: 0 0.5rem 0.5rem;
        @include mp1;
    }

    &__tag {
        padding: 0.5rem 1.5rem 0.5rem 0.5rem;
        border-radius: 0.25rem;
        width: 100%;
        max-width: 28rem;
        height: fit-content;
        appearance: none;
        background: {
            image: url("../../assets/icons/arrow_drop_down_24dp_FILL0_wght400_GRAD0_opsz24.svg");
            repeat: no-repeat;
            position: right 0.5rem center;
        }
        @include mp1;
        text-wrap: wrap;

        &:focus {
            border: 1px solid $basic-black;
            outline: none;
        }
    }
}
