@use "./breakpoints" as *;
@use "./colors" as *;
@use "./global" as *;

@mixin mobile-margins {
    margin: 0 1rem;
}

@mixin mobile-content-margins {
    margin-bottom: 1rem;
}

@mixin desktop-margins {
    margin: 0 auto;
    max-width: 75rem;
}

@mixin mobile-background {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image:
        linear-gradient(to right, $primary-yellow 1px, transparent 1px),
        linear-gradient(to bottom, $primary-yellow 1px, $primary-green 1px);
    background-size: 2rem 2rem;
    background-position: center center;
}

@mixin desktop-background {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image:
        linear-gradient(to right, $primary-yellow 1px, transparent 1px),
        linear-gradient(to bottom, $primary-yellow 1px, $primary-green 1px);
    background-size: 3rem 3rem;
    background-position: center center;
}

@mixin navigation {
    padding: 0 1rem;
    border-top: 3px solid $primary-yellow;
    width: 100%;
    height: 4.5rem;
    background-color: $primary-green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    
    @include desktop {
        padding: 0;
        border: none;
        background: none;
        position: static;
    }
}

@mixin mobile-button {
    background-color: $primary-white;
    border: 2px solid $basic-black;
    border-radius: 0.25rem;
    box-shadow: $basic-black 4px 4px 0 0;
    width: 2.5rem;
    height: 2.5rem;
    color: $basic-black;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    touch-action: manipulation;
}

@mixin content-box-styling {
    background-color: $primary-white;
    border: 2px solid $basic-black;
    border-radius: 0.25rem;
    box-shadow: $basic-black 4px 4px 0 0;
}
