@use "./colors" as *;

@font-face {
    font-family: "JetBrains";
    src: url("../../assets/fonts/JetBrainsMono-Light.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains";
    src: url("../../assets/fonts/JetBrainsMono-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains";
    src: url("../../assets/fonts/JetBrainsMono-Bold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains";
    src: url("../../assets/fonts/JetBrainsMono-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
}

$JetBrains-Light: 200;
$JetBrains-Regular: 400;
$JetBrains-Bold: 600;
$JetBrains-ExtraBold: 800;

@mixin mh1 {
    font-family: "JetBrains", Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 2.625rem;
    font-weight: $JetBrains-ExtraBold;
    color: $basic-black;
    @content;
}

@mixin mh2 {
    font-family: "JetBrains", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: $JetBrains-Bold;
    color: $basic-black;
    @content;
}

@mixin mh3 {
    font-family: "JetBrains", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $JetBrains-Bold;
    color: $basic-black;
    @content;
}

@mixin mp1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $JetBrains-Regular;
    color: $basic-black;
    @content;
}

@mixin mp2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    line-height: 1.125rem;
    font-weight: $JetBrains-Regular;
    color: $basic-black;
    @content;
}

@mixin h1 {
    font-family: "JetBrains", Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    line-height: 3.375rem;
    font-weight: $JetBrains-ExtraBold;
    color: $basic-black;
    @content;
}

@mixin h2 {
    font-family: "JetBrains", Arial, Helvetica, sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: $JetBrains-Bold;
    color: $basic-black;
    @content;
}

@mixin h3 {
    font-family: "JetBrains", Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 2.625rem;
    font-weight: $JetBrains-Bold;
    color: $basic-black;
    @content;
}

@mixin h4 {
    font-family: "JetBrains", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: $JetBrains-Bold;
    color: $basic-black;
    @content;
}

@mixin p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: $JetBrains-Regular;
    color: $basic-black;
    @content;
}

@mixin p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: $JetBrains-Regular;
    color: $basic-black;
    @content;
}

@mixin p3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: $JetBrains-Light;
    color: $basic-black;
    @content;
}