@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.emergency-card {
    @include content-box-styling;
    padding: 0.75rem 0.5rem;

    &__title {
        @include mh2;

        @include desktop {
            @include h3;
        }
    }

    &__content {
        @include mp1;

        @include desktop {
            @include p2;
        }
    }

    &__span-number {
        @include mp1;

        @include desktop {
            @include p2;
        }
    }

    &__contact-container {
        display: flex;
        flex-direction: column;

        @include desktop {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__subtitle {
        padding-top: 0.5rem;
        @include mh3;

        @include desktop {
            @include h4;
        }
    }

    &__details {
        @include mp1;

        @include desktop {
            @include p3;
        }
    }
}