@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.search {
    margin: 0.5rem 0;
    padding: 0.35rem 0.5rem;
    border: 2px solid $basic-black;
    border-radius: 1rem;
    background-color: $basic-white;
    height: 2rem;
    width: 100%;
    @include mp1;
}