@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.search {
    @include content-box-styling;
    padding: 0.35rem 0.5rem;
    background: {
        image: url("../../assets/icons/search_24dp_FILL0_wght400_GRAD0_opsz24.svg");
        repeat: no-repeat;
        position: right 0 center;
    }
    height: 2rem;
    width: 100%;
    @include mp1;

    &:focus {
        outline: none;
    }

    @include desktop {
        @include p2;
    }
}

::placeholder {
    color: $basic-black;
}