@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header {
    margin: 0 0 1rem;
    padding: 0.5rem 0.25rem;
    width: 100%;
    @include content-box-styling;
    text-decoration: none;

    &__link {
        text-decoration: none;
        color: $basic-black;
    }

    &__title {
        @include mh1;
    }

    @include desktop {
        margin: 0 0 1rem;
        // width: 18rem;
        text-align: center;
    }
}