@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.nav {
    @include navigation;

    &__button {
        @include mobile-button;
        &:hover {
            background-color: $basic-white;
        }
        &:active {
            box-shadow: $basic-black 2px 2px 0 0;
            transform: translate(2px, 2px);
        }
    }

    @include desktop {
        // @include desktop-nav;
        // border-right: 3px solid $primary-yellow;
        // width: 25%;
    }
}