@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.nav {
    @include navigation;
    z-index: 1;

    @include desktop {
        margin-top: 2rem;
    }

    &__button {
        @include mobile-button;
        &:hover {
            background-color: $secondary-yellow;
        }
        &:active {
            box-shadow: $basic-black 2px 2px 0 0;
            transform: translate(2px, 2px);
        }
    }
}