@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.scroll-button {
    @include content-box-styling;
    position: fixed;
    bottom: 5.5rem;
    right: 1rem;
    transition: transform 0.1s ease;
    cursor: pointer;
    
    &:hover {
        background-color: $secondary-yellow;
    }

    &:active {
        transform: translate(2px, 2px);
    }

    @include desktop {
        bottom: 3rem;
        right: 10rem;
    }

    &__icon {
        width: 2.5rem;
    }
}
