@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.sidebar {
    display: none;
    @include desktop {
        padding: 1rem;
        // border-right: 3px solid $primary-yellow;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        // background-color: $primary-green;
    }
}