@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.resource-card {
    @include content-box-styling;
    margin: 0 1rem;
    padding: 0.75rem 0.5rem;
    @include desktop {
        @include content-box-styling;
        margin: 0;
        padding: 0.75rem 0.5rem;
    }

    &__title {
        @include mh3;
        padding-bottom: 1rem;

        @include desktop {
            @include h3;
        }

        &--padding {
            @include mh3;
            padding-bottom: 0;
            @include desktop {
                @include h3;
            }
        }
    }

    &__info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icon {

        @include desktop {
            width: 2rem;
            height: 2rem;
        }
    }

    &__content {
        @include mp1;
        font-size: 0.85rem;

        @include desktop {
            @include p3;
        }
    }

    &__content-link {
        @include mp1;
        font-size: 0.85rem;
        color: $accent-raspberry;
        text-decoration: none;

        @include desktop {
            @include p3;
            color: $accent-raspberry;
        }
    }

    &__services-title {
        padding-bottom: 0.25rem;
        @include mh3;

        @include desktop {
            padding-top: 0.5rem;
            @include h4;
        }
    }

    &__services {
        margin: 0.5rem 0;
        padding: 0.5rem;
        border: 1px solid $basic-black;
        border-radius: 50px;
        width: fit-content;
        @include mp2;
        text-align: center;

        @include desktop {
            margin: 0 0 1rem 0;
            padding: 0.5rem 0.75rem;
            @include p3;
        }
    }

    &__links-container {
        display: flex;
        justify-content: space-between;
    }

    &__website-container {
        @include content-box-styling;
        padding-top: 0.5rem;
        width: 4.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        transition: transform 0.1s ease;
        cursor: pointer;

        @include desktop {
            padding: 0.5rem 0.5rem 0;
            width: 5.5rem;
        }

        &:hover {
            background-color: $secondary-yellow;
        }
    
        &:active {
            transform: translate(2px, 2px);
        }
    }

    &__website-icon {
        width: 1.75rem;
        height: 1.75rem;
        
        @include desktop {
            width: 2rem;
            height: 2rem;
        }
    }

    &__website-title {
        @include mp2;
        text-transform: uppercase;

        @include desktop {
            @include p3;
        }
    }

    &__directions {
        @include content-box-styling;
        padding-top: 0.5rem;
        width: 6.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        transition: transform 0.1s ease;
        cursor: pointer;
        @include mp2;
        text-transform: uppercase;

        @include desktop {
            padding: 0.5rem 1rem 0;
            width: 7rem;
            @include p3;
        }

        &:hover {
            background-color: $secondary-yellow;
        }
    
        &:active {
            transform: translate(2px, 2px);
        }
    }

    &__directions-icon {
        width: 1.75rem;
        height: 1.75rem;
        
        @include desktop {
            width: 1.8rem;
            height: 1.8rem;
        }
    }
}
