@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.resource-card {
    @include content-box-styling;
    margin: 0 1rem;
    padding: 0.75rem 0.5rem;
    @include desktop {
        @include content-box-styling;
        margin: 0;
        padding: 0.75rem 0.5rem;
    }

    &__title {
        @include mh3;
        padding-bottom: 1rem;

        @include desktop {
            // padding-bottom: 1rem;
            @include h3;
        }

        &--padding {
            @include mh3;
            padding-bottom: 0;
            @include desktop {
                @include h3;
            }
        }
    }

    &__info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include desktop {
            // display: flex;
            // justify-content: space-between;
        }
    }

    &__icon {

        @include desktop {
            width: 2rem;
            height: 2rem;
        }
    }

    &__content {
        @include mp2;
        @include desktop {
            @include p3;
        }
    }

    &__services-title {
        @include mh3;
        @include desktop {
            padding: 1rem 0 0.5rem;
            @include h4;
        }
    }

    &__services {
        @include mp2;
        @include desktop {
            margin-bottom: 0.75rem;
            @include p3;
        }
    }

    &__link {

    }
}
