@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {

    &__content {
        padding-bottom: 4.5rem;
        border-top: 1px solid $primary-yellow;
        background-color: $primary-green;
        @include mp2;
        text-align: center;

        @include desktop {
            padding-bottom: 0;
            @include p3;
        }
    }
}