@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.accordion {

    &__header {
        @include mh3;

        @include desktop {
            @include h4;
        }
    }

    &__content-container {

    }

    &__info-container {
        display: flex;
        justify-content: space-between;
    }

    &__icon {

        @include desktop {
            width: 2rem;
        }
    }

    &__content {
        @include mp2;

        @include desktop {
            @include p3;
        }
    }

    &__link {

    }
}