@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.map {
    margin: 0 auto;
    border: 2px solid $basic-black;
    border-radius: 0.25rem;
    box-shadow: $basic-black 4px 4px 0 0;
    width: 100%;
    height: 60vh;
    
    &__icon {
    font-size: 0.5rem;
    }

    @include desktop {
        width: 95%;
        max-width: 80rem;
        height: 80vh;
    }

    &__modal {
        @include desktop {
            display: none;
        }
    }
}