@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


.map {
    margin: 1rem auto;
    width: 40rem;
    height: 40rem;
    
    &__icon {
    font-size: 0.5rem;
    }

    @include desktop {
        width: 95%;
        // height: 80%;
    }
}