@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


// option 1
// .landing {
//     @include mobile-background;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 0 1rem;

//     &__search {
//         @include content-box-styling;
//         padding: 0 1rem;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }

//     &__logo {
//         padding: 0.25rem 1.75rem 0.5rem;
//         width: 100%;
//     }
// }

// option 2
.landing {
    @include mobile-background;
    
    &__mobile {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__desktop {
        display: none;
    }

    @include desktop {

        &__mobile {
            display: none;
        }

        &__desktop {
            margin: 0 auto;
            max-width: 80rem;
            display: flex;
            // align-items: center;
        }

        &__desktop-main {
            width: 50%;
            
        }

        &__desktop-resources {
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25%;
        }
    }
}