@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.landing {
    @include mobile-background;
    height: 60rem;

    @include desktop {
        @include desktop-background;
        height: 80rem;
    }

    &__main {
        display: flex;
        flex-direction: column;

        @include desktop {
            margin: 0 auto;
            padding-top: 3.5rem;
            max-width: 78rem;
            flex-direction: row;
        }
    }

    &__sidebar {
        width: 100%;

        @include desktop {
            margin-right: 1rem;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--padded {
            padding: 1rem;

            @include desktop {
                padding: 0;
            }
        }
    }

    &__home-nav {

        @include desktop {
            width: 100%;
        }
    }

    &__map {
        display: none;

        @include desktop {
            display: flex;
            width: 50%;
        }
    }

    &__resource {
        display: none;

        @include desktop {
            margin-left: 1rem;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__emergency {
        margin: 0 1rem;
        
        @include desktop {
            margin: 2rem auto;
            width: 50%;
        }
    }

    &__nav-bar {

        @include desktop {
            display: none;
        }
    }
}