@use "../../styles/partials/breakpoints.scss" as *;
@use "../../styles//partials/colors.scss" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;


// option 1
// .landing {
//     @include mobile-background;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding: 0 1rem;

//     &__search {
//         @include content-box-styling;
//         padding: 0 1rem;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//     }

//     &__logo {
//         padding: 0.25rem 1.75rem 0.5rem;
//         width: 100%;
//     }
// }

// option 2
.landing {
    @include mobile-background;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}